.gradle/
.idea/
build/
app/build/
local.properties
*.iml

tools/
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.7z

test/
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.png
*.jpg
*.jpeg
*.gif

captures/
recordings/
exports/
tmp/
